* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
    font-family: 'Helvetica Neue';
}

.header {
    background-image: url(../img/first_page_img/main_foto.jpg);
    /* background-size: 100%;*/
    width: 100%;
    max-width: 1440px;
    height: 110vh;
    margin: 0 auto;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 89px;
    border-bottom: rgba(255, 255, 255, 0.1) 2px solid;
}

.header-logo__img {
    margin-top: 35px;
    margin-left: 165px;
}

.header-logo {
    display: flex;
}

.header-logo__text {
    margin-top: 43.77px;
    margin-left: 9px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /*font-family: 'Helvetica Neue';*/
    color: #34C759;
}

.nav {
    display: flex;
}

a {
    text-decoration: none;
    color: #fff;
    /*font-family: 'Helvetica Neue';*/
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

a:hover {
    color: #34C759;
}

ul {
    list-style-type: none;
    margin-top: 35px;
    margin-right: 176px;
}

li {
    margin-right: 50px;
}

.first-page {
    /*font-family: 'Helvetica Neue';*/
    color: white;
}

.first-page__title {
    margin-top: 80px;
    margin-left: 75px;
    font-size: 4vh;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: capitalize;
}

.first-page__text {
    margin-top: 16px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.2px;
    opacity: 0.7;
    margin-left: 90px;
}

.btn {
    margin-top: 40px;
    background: #34C759;
    border-radius: 30px;
    border: none;
    font-size: 2vh;
    line-height: 22px;
    text-align: center;
    width: 150px;
    height: 50px;
    margin-left: 680px;
}

.btn:hover {
    cursor: pointer;
}

.first-page__contacts {
    display: flex;
    margin-top: 108px;
    justify-content: space-around;
}

.contacts {
    font-size: 2vh;
    color: #999999;
    text-align: center;
}

.contacts img {
    margin-left: 10px;
    margin-bottom: 13px;
}

.about {
    position: relative;
    color: white;
    text-align: center;
    top: -164px;
    background-image: url(../img/fon_about.png);
    max-width: 1100px;
    height: 735px;
    margin: 0 auto;
}

.about__title {
    padding-top: 60px;
}

.about__name,
.work__name,
.dishes__name,
.chefs__name,
.recipes__name,
.social__name {
    position: absolute;
    font-size: 3vh;
    top: 50px;
    font-style: normal;
    letter-spacing: 0.2em;
    color: #D9D9D9;
}

.about__name {
    padding-top: 58px;
    left: 200px;
}

.text {
    margin-top: 61px;
    color: #A6A6A6;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.about__img {
    max-width: 1110px;
    width: 100%;
    margin: 90px auto 0 auto;
}


.about__img img {
    /* padding-left: 24px;*/
    box-sizing: border-box;
    margin: auto;
}

/*
.slick-slide .image {
    padding: 20px;
}
*/

.slick-slide img {
    display: block;
}

.slick-slide img.slick-loading {
    border: 0;
}

.work {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.work__posicion {
    display: flex;
    margin-top: 59px;
    justify-content: space-between;
}

.work__title,
.dishes__title,
.about__title,
.chefs__title,
.recipes__title,
.social__title {
    text-align: center;
    font-size: 10vh;
    line-height: 150px;
    letter-spacing: 0.2em;
    color: #303030;

}

.work__title,
.dishes__title,
.chefs__title,
.recipes__title,
.social__title {
    border-bottom: #34C759 1px solid;
}

.work__name {
    left: 540px;
}

.posicion.color {
    background-color: #34C759;
    color: #191919;
}

.posicion.color p {
    color: #191919;
}

.posicion.color h3 {
    border-bottom: #191919 1px solid;
}

.posicion {
    width: 290px;
    height: 256px;
    font-size: 2vh;
    border-radius: 10px;
    background-color: #1d1d1d;
}

.posicion h3 {
    margin: 24px 24px 0 24px;
    padding-bottom: 10px;
    border-bottom: #34C759 1px solid;
    font-size: 22px;
}

.posicion p {
    margin: 24px 31px 42px 24px;
    color: rgba(255, 255, 255, 0.5);
}

.dishes {
    margin: 91px auto 0 auto;
    position: relative;
    width: 100%;
    max-width: 1440px;
}

.dishes__name {
    margin-left: 520px;
}

.dishes__images {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
}

.dishes__images h3 {
    margin: 29px 0 0 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    color: #D9D9D9;
    padding-bottom: 10px;
}

.dishes__images p {
    margin: 0 0 20px 30px;
}

.dishes__images button {
    margin: 20px 0 24px 43px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #34C759;
    border-radius: 30px;
    border: none;
    color: #252525;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
    letter-spacing: 0.2em;
}

.dishes-rating .btn {
    background: #262626;
    border: 2px solid #303030;
    color: rgba(255, 255, 255, 0.5);
}

.dishes-rating img {
    margin-left: 35px;
}

.dishes-rating span {
    margin: 26px 0 28px 11px;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #B3B3B3;
}

.dishes-image {
    width: 350px;
    margin-bottom: 30px;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.chefs {
    position: relative;
    margin: 120px auto 0 auto;
    width: 100%;
    max-width: 1440px;
}

.chefs__name {
    margin-left: 490px;
}

.chefs__info {
    display: flex;
    justify-content: space-between;
}

.chef-info__info {
    margin-top: 37px;
    display: flex;
}

.chef-info__name {
    margin-left: 24px;
    margin-top: 9px;
}

.chef-info__name h3 {
    padding-bottom: 8px;
    font-size: 18px;
}

.chef-info__name p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.chef-info__dishes {
    margin-top: 24px;
}

.chef-info__dishes img {
    padding-right: 30px;
}

.recipes {
    margin: 91px auto 0 auto;
    width: 100%;
    max-width: 1440px;
    position: relative;
}

.recipes__name {
    margin-left: 460px;
}

.article {
    background-image: url(../img/article.png);
    width: 540px;
    height: 510px;
    margin-top: 60px;
}

.article-info button {
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 10px;
    width: 90px;
    height: 25px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    color: #fff;
    margin: 60px auto 0 230px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.article-info p {
    text-align: center;
    font-size: 14px;
    margin-top: 65px;
}

.article-text {
    margin: 25px 0 0 80px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}

.article-avtor {
    margin-top: 45px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.article-views {
    display: flex;
    margin: 62px 0 0 203px;
}

.article-views1 span {
    margin-left: 12px;
    margin-right: 29px;
}

.recipes__articles {
    display: flex;
}

.articles {
    margin: 60px 0 0 130px;
}

.articles-food {
    background-color: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-bottom: 30px;
}

.articles-food__text p {
    padding: 30px 30px 10px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.dinner {
    background-image: url(../img/fon_article.png);
    background-size: 100%;
}

.hidden {
    background-color: #34C759;
    color: #000000;
}

.hidden .article-date p {
    color: #1A1A1A;
}

.articles-food__info {
    display: flex;
    margin: 10px 0 0 30px;
    padding-bottom: 15.5px;
    justify-content: space-between;
}

.article-views2 {
    display: flex;
}

.article-info__btn button {
    width: 53.18px;
    height: 25px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.article-date {
    display: flex;
}

.article-date p {
    margin-left: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #B3B3B3;
}

.social {
    margin: 91px auto 0 auto;
    width: 100%;
    max-width: 1440px;
    position: relative;
}

.social__name {
    margin-left: 600px;
}

.social__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 59px;
    grid-column-gap: 30px;
}

.social-logo {
    margin-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    height: 88px;
    display: flex;
    border-bottom: #737373 2px solid;
}

.social-logo p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #BFBFBF;
}

.social-logo__btn button {
    margin-left: 195px;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: #262626;
    border: 2px solid #303030;
    cursor: pointer;

}

.social-logo__btn a {
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #737373;
}

.social-info {
    margin-left: 30px;
    margin-top: 20px;
}

.social-info__avtor {
    margin-top: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 30px;
}

.social-info__avtor a {
    color: #34C759;
}

.social-info__date {
    font-size: 14px;
    line-height: 30px;
    color: #737373;
}

.social-info__text {
    padding-top: 5px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.social-info__img {
    margin-left: 20px;
}

.info {
    background-color: #303030;
    border-radius: 6px;
}

.footer {
    height: 275px;
    margin: 120px auto 0 auto;
    width: 100%;
    max-width: 1440px;
}

.footer__info {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    border-bottom: solid 2px #303030;
}

.footer-logo {
    justify-content: center;
    display: flex;
}

.footer-logo__img {
    margin-top: 30px;
}

.footer-logo__name {
    margin: 34px 0 0 9px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #34C759;
    font-size: 2vh;
}

.footer-logo__text {
    margin-top: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 60px;
    text-align: center;
    color: #737373;
}

@media screen and (max-width: 1440px) {

    .work__posicion {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 30px;
        margin-left: 150px;
    }

    .dishes__images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 125px;
    }

    .article {
        margin-left: 30px;
    }

    .articles {
        margin-left: 30px;
    }

    .article-info button {
        margin-left: 200px;
    }

    .chefs__info {
        margin-left: 100px;
    }

    .social__info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        margin-left: 50px;
    }
}

@media screen and (max-width: 1024px) {
    .first-page__title {
        font-size: 3vh;
    }

    .btn {
        margin-left: 450px;
    }

    .work__name {
        margin-left: -180px;
    }

    .dishes__name {
        margin-left: 330px;
    }

    .social__name {
        margin-left: 380px;
    }

    .chefs__name,
    .recipes__name {
        margin-left: 290px;
    }

    .work__posicion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 30px;
        margin-left: 150px;
    }

    .dishes__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: 85px;
    }

    .article {
        margin-left: 30px;
        width: 340px;
    }

    .articles {
        margin-left: 30px;
    }

    .chefs__info {
        margin-left: 50px;
    }

    .social__info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 30px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 768px) {
    .first-page__title {
        font-size: 2vh;
    }

    .header-logo__img {
        margin-left: 65px;
    }

    ul {
        margin-right: 46px;
    }

    .btn {
        margin-left: 350px;
    }

    .about__name {
        margin-left: -100px;
    }

    .work__name {
        margin-left: -310px;
    }

    .dishes__name {
        margin-left: 190px;
    }

    .social__name {
        margin-left: 380px;
    }

    .chefs__name,
    .recipes__name {
        margin-left: 190px;
    }

    .work__posicion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 30px;
        margin-left: 60px;
    }

    .dishes__images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin-left: 15px;
    }

    .article {
        margin-left: 10px;
    }

    .articles {
        margin-left: 10px;
    }

    .articles-food {
        margin-bottom: 10px;
    }

    .chefs__info {
        margin-left: 50px;
    }

    .social__info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 30px;
        margin-left: 100px;
        margin-right: 100px;
    }

    .article-info button {
        margin-left: 120px;
    }
}


@media screen and (max-width: 425px) {
    .first-page__title {
        font-size: 1.1vh;
        margin-left: -10px;
    }

    .first-page__text {
        margin-left: 5px;
    }

    .header-logo__img {
        margin-left: 15px;
    }

    .first-page__contacts {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 30px;
    }

    .header-nav {
        display: none;
    }

    .btn {
        margin-left: 150px;
    }

    .about__name {
        margin-left: -190px;
    }

    .work__name {
        margin-left: -490px;
    }

    .dishes__name {
        margin-left: 40px;
    }

    .social__name {
        margin-left: 80px;
    }

    .chefs__name,
    .recipes__name {
        margin-left: 60px;
    }

    .work__posicion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 30px;
        margin-left: 70px;
    }

    .dishes__images {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        margin-left: 35px;
    }

    .recipes__articles {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .article {
        margin-left: 10px;
    }

    .articles-food {
        margin-bottom: 10px;
    }

    .chefs__info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin-left: 35px;
    }

    .social-logo {
        margin-left: 5px;
    }

    .social-logo__btn button {
        margin-left: 180px;
    }

    .info {
        width: 405px;
    }

    .social__info {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .article-info button {
        margin-left: 120px;
    }

    .footer__info {
        display: none;
    }
}