* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #191919;
    color: white;
    font-family: 'Helvetica Neue';
}

.header {
    background-image: url(../img/first_page_img/main_foto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1480px;
    height: 110vh;
    margin: 0 auto;
    padding: 0 20px;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 89px;
    border-bottom: rgba(255, 255, 255, 0.1) 2px solid;
}

.header-logo__img {
    margin-top: 35px;
    margin-left: 165px;
}

.header-logo {
    display: flex;
}

.header-logo__text {
    margin-top: 43.77px;
    margin-left: 9px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #34C759;
}

.nav {
    display: flex;
    column-gap: 50px;
}

a {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

a:hover {
    color: #34C759;
}

ul {
    list-style-type: none;
    margin-top: 35px;
    margin-right: 176px;
}

@media (max-width: 1024px) {
   .header{
    max-width: 980px;
    height: 100vh;
   }
   .header-logo__img {
    margin-left: 65px;
    }
    ul {
        margin-right: 76px;
    }
}
@media (max-width: 768px) {
    .header{
     max-width: 740px;
     padding: 0 10px;
     height: 90vh;
    }
    .header-logo__img {
     margin-left: 15px;
     }
     ul {
         margin-right: 16px;
     }

 }
@media (max-width: 576px) {
    .header{
        max-width: 320px;
        padding: 0 5px;
        height: 60vh;
       }
       .header-logo__img {
        margin-left: 5px;
        }
        .nav{
            display: none;
        }

}
.first-page {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-page__title {
    margin-top: 80px;
    font-size: 4vh;
    text-align: center;
    letter-spacing: 0.3em;
    text-transform: capitalize;
}

.first-page__text {
    margin-top: 16px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.2px;
    opacity: 0.7;
}

.btn {
    margin-top: 40px;
    background: #34C759;
    border-radius: 30px;
    border: none;
    font-size: 2vh;
    line-height: 22px;
    text-align: center;
    width: 150px;
    height: 50px;
}

.btn:hover {
    cursor: pointer;
}

.first-page__contacts {
    display: flex;
    margin-top: 7%;
    column-gap: 190px;
}

.contacts {
    font-size: 2vh;
    color: #999999;
    text-align: center;
}

.contacts img {
    margin-left: 10px;
    margin-bottom: 13px;
}
@media (max-width: 1024px) {
    .first-page__contacts{
        column-gap: 140px;
        margin-top: 4%;
    }
}
@media (max-width: 768px) {
    .first-page__title{
        margin-top: 40px;
        font-size: 3vh;
    }
    .btn{
        margin-top: 20px;
    }
 }
 @media (max-width: 576px) {
    .first-page__title{
        margin-top: 10px;
        font-size: 2vh;
    }
    .first-page__text{
        font-size: 14px;
    }
    .btn{
        margin-top: 5px;
        width: 90px;
        height: 30px;
    }
    .first-page__contacts{
        display: none;
    }
 }
.about {
    position: relative;
    color: white;
    text-align: center;
    top: -164px;
    background-image: url(../img/fon_about.png);
    max-width: 1100px;
    padding: 0 10px;
    height: 735px;
    margin: 0 auto;
}

.about__title {
    padding-top: 60px;
}

.about__name,
.work__name,
.dishes__name,
.chefs__name,
.recipes__name,
.social__name {
    position: absolute;
    font-size: 3vh;
    top: 50px;
    font-style: normal;
    letter-spacing: 0.2em;
    color: #D9D9D9;
    left: 39%;
}

.about__name {
    padding-top: 58px;
    left: 24%;
}

.text {
    margin-top: 61px;
    color: #A6A6A6;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.about__img {
    max-width: 1110px;
    width: 100%;
    margin: 90px auto 0 auto;
}


.about__img img {
    box-sizing: border-box;
    margin: auto;
}

@media (max-width: 1024px) {
    .about{
        max-width: 680px;
        top: -50px;
    }
}
@media (max-width: 768px) {
    .about{
        height: 610px;
    }
    .about__title{
        padding: 0;
    }
    .about__name {
        padding: 0;
     }
     .text{
        margin-top: 0;
     }
     .about__img {
        max-width: 680px;
        width: 100%;
    }
     .slick-prev:before, .slick-next:before {
        display: none;
     }
}
@media (max-width: 576px) {
    .about{
        max-width: 320px;
        padding: 0 5px;
        top: 0;
        }
    .about__name{
        left: 5%;
        font-size: 2vh;
    }
    .about__img {
        max-width: 310px;
        width: 100%;
        margin-top: 25px;
    }

}

.slick-slide img {
    display: block;
}

.slick-slide img.slick-loading {
    border: 0;
}

.work {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.work__posicion {
    margin-top: 59px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    
}

.work__title,
.dishes__title,
.about__title,
.chefs__title,
.recipes__title,
.social__title {
    text-align: center;
    font-size: 10vh;
    line-height: 150px;
    letter-spacing: 0.2em;
    color: #303030;

}

.work__title,
.dishes__title,
.chefs__title,
.recipes__title,
.social__title {
    border-bottom: #34C759 1px solid;
}

.posicion.color {
    background-color: #34C759;
    color: #191919;
}

.posicion.color p {
    color: #191919;
}

.posicion.color h3 {
    border-bottom: #191919 1px solid;
}

.posicion {
    font-size: 2vh;
    border-radius: 10px;
    background-color: #1d1d1d;
}

.posicion h3 {
    margin: 24px 24px 0 24px;
    padding-bottom: 10px;
    border-bottom: #34C759 1px solid;
    font-size: 22px;
}

.posicion p {
    margin: 0 24px;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1024px) {
    .work{
        max-width: 980px;
    }
 }
 @media (max-width: 768px) {
    .work{
        max-width: 740px;
        padding: 0 10px;
    }
    .posicion h3 {
        margin: 14px 14px 0 14px;
        padding-bottom: 5px;
        font-size: 19px;
    }
    
    .posicion p {
        /*margin: 24px 31px 42px 24px;*/
        margin: 0 14px;
        padding: 10px 0;
    }
    .work__posicion {
        margin-top: 30px;
    }
  }
  @media (max-width: 576px) {
    .work{
        max-width: 320px;
        padding: 0 5px;
    }
    .work__name{
        font-size: 2vh;
        left: 25%;
    }
    .work__posicion {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 15px;
        margin-top: 30px;
    }
  }
.dishes {
    margin: 91px auto 0 auto;
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
}

.dishes__images {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    justify-items: center;
    align-items: center;
}

.dishes__images h3 {
    margin: 29px 0 0 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    color: #D9D9D9;
    padding-bottom: 10px;
}

.dishes__images p {
    margin: 0 0 20px 30px;
}

.dishes__images button {
    margin: 20px 0 24px 43px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: #34C759;
    border-radius: 30px;
    border: none;
    color: #252525;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
    letter-spacing: 0.2em;
}

.dishes-rating .btn {
    background: #262626;
    border: 2px solid #303030;
    color: rgba(255, 255, 255, 0.5);
}

.dishes-rating img {
    margin-left: 35px;
}

.dishes-rating span {
    margin: 26px 0 28px 11px;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 1.5px;
    color: #B3B3B3;
}

.dishes-image {
    width: 350px;
    margin-bottom: 30px;
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
@media (max-width: 1024px) {
    .dishes{
        max-width: 980px;
        margin-top: 80px;
    }
    .dishes__images {
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        justify-items: center;
        align-items: center;
    }
 }
 @media (max-width: 768px) {
    .dishes{
        max-width: 740px;
        padding: 0 10px;
        margin-top: 50px;
    }
    .dishes__name{
        left: 32%;
    }
  }
  @media (max-width: 576px) {
    .dishes{
        max-width: 320px;
        padding: 0 5px;
        margin-top: 0px;
    }
    .dishes__name{
        left: 8%;
    }
    .dishes__images {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .dishes-image{
        width: 300px;
    }
    .dishes-image img{
        width: 300px;
    }
    .dishes-rating img{
        width: 120px;
    }
    .dishes__images h3 {
    margin: 15px 0 0 10px;
    font-size: 24px;
    }
    .dishes__images p{
        margin-left: 10px;
    }
    .dishes-rating img{
        margin-left: 10px;
    }
    .dishes__images button{
        margin: 5px 0 10px 25px;
    }

}
.chefs {
    position: relative;
    margin: 120px auto 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
}

.chefs__info {
    display: flex;
    justify-content: space-between;
}

.chef-info__info {
    margin-top: 37px;
    display: flex;
}

.chef-info__name {
    margin-left: 24px;
    margin-top: 9px;
}

.chef-info__name h3 {
    padding-bottom: 8px;
    font-size: 18px;
}

.chef-info__name p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.chef-info__dishes {
    margin-top: 24px;
}

.chef-info__dishes img {
    padding-right: 30px;
}

@media (max-width: 1024px) {
    .chefs{
        margin-top: 80px;
        max-width: 980px;
    }
 }
 @media (max-width: 768px) {
    .chefs{
        max-width: 740px;
        padding: 0 10px;
        margin-top: 50px;
    }
    .chefs__name{
        left: 28%;
    }
  }
  @media (max-width: 576px) {
    .chefs{
        max-width: 320px;
        padding: 0 5px;
        margin-top: 0;
    }
    .chefs__name{
        left: 5%;
    }
    .chefs__info{
        flex-direction: column;
    }
  }
.recipes {
    margin: 91px auto 0 auto;
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding: 0 20px;
}

.article {
    background-image: url(../img/article.png);
    width: 540px;
    height: 510px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.article-info button {
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    font-size: 10px;
    width: 90px;
    height: 25px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.article-info p {
    font-size: 14px;
    margin-top: 65px;
}

.article-text {
    margin-top: 25px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}

.article-avtor {
    margin-top: 45px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.article-views {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 62px;

}

.article-views1 span {
    margin-left: 12px;
    margin-right: 29px;
}

.recipes__articles {
    display: flex;
    column-gap: 130px;
}

.articles {
    margin-top: 60px;
}

.articles-food {
    background-color: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-bottom: 30px;
}

.articles-food__text p {
    padding: 30px 30px 10px 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.dinner {
    background-image: url(../img/fon_article.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden {
    background-color: #34C759;
    color: #000000;
}

.hidden .article-date p {
    color: #1A1A1A;
}

.articles-food__info {
    display: flex;
    margin: 10px 0 0 30px;
    padding-bottom: 15.5px;
    justify-content: space-between;
}

.article-views2 {
    display: flex;
}

.article-info__btn button {
    width: 53.18px;
    height: 25px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.article-date {
    display: flex;
}

.article-date p {
    margin-left: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #B3B3B3;
}
@media (max-width: 1024px) {
    .recipes{
        margin-top: 80px;
        max-width: 980px;
    }
    .recipes__articles {
        column-gap: 60px;
    }
    .recipes__name{
        left: 34%;
    }
    
 }
 @media (max-width: 768px) {
    .recipes{
        max-width: 740px;
        padding: 0 10px;
        margin-top: 50px;
    }
    .recipes__name{
        left: 28%;
    }
    .articles-food__text p {
        padding: 15px 15px 5px 15px;
    }
    .recipes__articles {
        column-gap: 10px;
    }
    .articles-food__info {
        display: flex;
        margin: 5px 0 0 15px;
        padding-bottom: 15px;
    }
    .articles-food {
        margin-bottom: 23px;
    }
  }
  @media (max-width:576px) {
    .recipes{
        max-width: 320px;
        padding: 0 5px;
        margin-top: 0px;
    }
    .recipes__name{
        left: 3%;
    }
    .recipes__articles {
        flex-direction: column;
        row-gap: 10px;
    }
    .article{
        width: 310px;
    }
    .articles{
        margin-top: 10px;
    }
    .articles-food__info {
        display: flex;
        flex-direction: column;
    }
    .article-date {
        margin-bottom: 10px;
    }
  }
.social {
    margin: 91px auto 0 auto;
    width: 100%;
    max-width: 1440px;
    position: relative;
    padding: 0 20px;
}

.social__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 59px;
    grid-column-gap: 30px;
}

.social-logo {
    margin: 0 25px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    border-bottom: #737373 2px solid;
}
.social-logo__img{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.social-logo p {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #BFBFBF;
}
.social-logo__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-logo__btn button {
    /*margin-left: 195px;*/
    width: 100px;
    height: 40px;
    border-radius: 30px;
    background-color: #262626;
    border: 2px solid #303030;
    cursor: pointer;

}

.social-logo__btn a {
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #737373;
}

.social-info {
    margin: 20px 25px auto 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-info__avtor {
    margin-top: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 30px;
}

.social-info__avtor a {
    color: #34C759;
}

.social-info__date {
    font-size: 14px;
    line-height: 30px;
    color: #737373;
}

.social-info__text {
    padding-top: 5px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.7);
}

.social-info__img {
    margin-left: 20px;
}

.info {
    background-color: #303030;
    border-radius: 6px;
}
@media (max-width: 1024px) {
    .social{
        margin-top: 80px;
        max-width: 980px;
    }
    .social-info__img {
        margin-left: 0;
    }
    
 }
 @media (max-width: 768px) {
    .social{
        max-width: 740px;
        padding: 0 10px;
        margin-top: 50px;
    }
    .social__info{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 20px;
    }
    
  }
  @media (max-width: 576px) {
    .social{
        max-width: 320px;
        padding: 0 5px;
        margin-top: 0px;
    }
    .social__name{
        left: 23%;
    }
  }
.footer {
    height: 275px;
    margin: 120px auto 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
}

.footer__info {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    border-bottom: solid 2px #303030;
}

.footer-logo {
    justify-content: center;
    display: flex;
}

.footer-logo__img {
    margin-top: 30px;
}

.footer-logo__name {
    margin: 34px 0 0 9px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #34C759;
    font-size: 2vh;
}

.footer-logo__text {
    margin-top: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 60px;
    text-align: center;
    color: #737373;
}
@media (max-width: 1024px) {
    .footer{
        margin-top: 80px;
        max-width: 980px;
        height: 240px;
    }
    
 }
 @media (max-width: 768px) {
    .footer{
        max-width: 740px;
        padding: 0 10px;
        margin-top: 50px;
    }
    
  }
  @media (max-width:576px) {
    .footer{
        max-width: 320px;
        padding: 0 5px;
        margin-top: 30px;
    }
    .footer__info{
        flex-wrap: wrap;
    }
    .contacts:last-child{
        margin-top: 25px;
    }
  }
